/* Auth.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 100%;
  }
  
  .auth-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    /* min-width: 100%; */
    max-width: 400px;
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
    color: #333333;
  }
  
  .auth-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .auth-container button {
    width: 100%;
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

  
  .error {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  