/* Quiz.css */
.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    padding: 20px;
  }
  
  .timer {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 20px;
    color: red;
  }
  
  .question-section {
    margin-bottom: 20px;
  }
  
  .question-count {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .question-text {
    font-size: 1.5em;
  }
  
  .answer-section {
    display: flex;
    flex-direction: column;
  }
  
  .answer-section{
    background-color: red;
    padding: 20px;
  }

  .answer-section button {
    padding: 10px;
    margin:10px 0;
    background-color: red;
    border: 1px solid rgba(255, 255, 255, 0.623);
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .score-section {
    font-size: 1.5em;
    text-align: center;
  }

  .flash {
    background-color: darkred !important;
    transition: background-color 0.5s;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .bounce {
    animation: bounce 3s infinite;
  }
  