/* Quiz.css */
.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    padding: 20px;
  }
  
  .timer {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 20px;
    color: red;
  }
  
  .question-section {
    margin-bottom: 20px;
  }
  
  .question-count {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .question-text {
    font-size: 1.5em;
  }
  
  .answer-section {
    display: flex;
    flex-direction: column;
  }
  
  .answer-section button {
    padding: 10px;
    margin: 5px 0;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .answer-section button:hover {
    background-color: #b30000;
  }
  
  .score-section {
    font-size: 1.5em;
    text-align: center;
  }
  