/* Quiz.css */
.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  color: #fff;
  padding: 20px;
}

.timer {
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: 20px;
  color: red;
}

.question-section {
  margin-bottom: 20px;
}

.question-count {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.question-text {
  font-size: 1.5em;
}

.answer-section {
  display: flex;
  flex-direction: column;
}



.answer-section button {
  padding: 10px;
  margin: 5px 0;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.score-section {
  font-size: 1.5em;
  text-align: center;
  animation: bounce 2s infinite;
}

li, ol {
  list-style: none;
}


.option-button {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.option-button .option-label {
  font-weight: bold;
  margin-right: 10px;
}

.option-button.flash-correct {
  animation: flashCorrect 0.5s forwards;
}

.option-button.flash-incorrect {
  animation: flashIncorrect 0.5s forwards;
}

@keyframes flashCorrect {
  0% {
    background-color: #28a745;
  }
  100% {
    background-color: #dc3545;
  }
}

@keyframes flashIncorrect {
  0% {
    background-color: #7a0a0a;
  }
  100% {
    background-color: #dc3545;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}